extends layout

block content
	.content.p-5
		h1.pb-4 Control Panel #[small.font-weight-light.pl-3.text-black-50(style="font-size: .5em;") CallRail Settings] 
		br
		h3 CallRail Configuration Settings
		br
		h3.pt-3 Existing Configurations
		br
		p No Configurations Exist
