extends layout

block content
	.content.p-5
		h1.pb-4 Control Panel #[small.font-weight-light.pl-3.text-black-50(style="font-size: .5em;") Newsletter Settings] 
		br
		h3 Create Newsletter Configuration
		br
		h3.pt-3 Existing Associations
		br

block script
	script $( function () {$( '.navbar-nav a:nth-child(3)' ).addClass( 'active' );});